name: Update Video Rules

on:
  schedule:
    - cron: '0 0 * * *' # 每天凌晨自动运行
  workflow_dispatch:      # 允许手动触发执行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Run script
        run: python generate_rules.py

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add MyVideo.list
          git commit -m "Update rules from db.json" || exit 0
          git push
